@charset "utf-8";/*#region base.css */
textarea{border-radius:0}
/*#endregion layout.css */


/*#region layout.css */
#footer{-moz-box-shadow:inset 0 10px 20px -10px rgba(0,0,0,0.5);-webkit-box-shadow:inset 0 10px 20px -10px rgba(0,0,0,0.5);box-shadow:inset 0 10px 20px -10px rgba(0,0,0,0.5)}

#gnb .my-svc .select-banking-type{-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.5);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.5);border-radius:3px}
#gnb .my-svc .fishing-img .fishing-word{-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.5);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.5);border-radius:3px}
#gnb .rel-svc dd.all .all-svc-box{-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.5);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.5);border-radius:3px}
#gnb .country-box{-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7);border-radius:3px}

#lnb ul{border-top-left-radius:2px;border-top-right-radius:2px}
#lnb ul.level1 li.level1-item.first{border-top-left-radius:2px}
#lnb ul.level1 li.level1-item.last{border-top-right-radius:2px}
#lnb .lnb-sub-ly{-webkit-box-shadow:0 2px 6px -2px #999;box-shadow:0 2px 6px -2px #999;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
#lnb .lnb-ly{border-bottom-left-radius:10px;border-bottom-right-radius:10px}
#lnb .lnb-ly dl dd.current a{border-radius:2px}
#lnb ul.level1 li.level1-item.on > a:after{content:' ';position:absolute;left:0;top:40px;height:2px;width:100%;background:url(/img/common/header/bu_lnb_on_after.png) no-repeat center;z-index:10}


#util{border-bottom-left-radius:2px;border-bottom-right-radius:2px;-webkit-box-shadow:0 1px 5px -3px #666;box-shadow:0 1px 5px -3px #666}

.footer-nav-snb .country-box{-webkit-box-shadow:2px 2px 6px -3px rgba(255,255,255,0.7);box-shadow:2px 2px 6px -3px rgba(255,255,255,0.7);border-radius:3px}
#footer .footer-global .footer-content .content .links .more .language .country-box{border-radius:3px;-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7)}
#footer .footer-global .footer-content .content .links .more .family .family-box{border-radius:3px;-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7)}
#footer .footer-global .footer-content .content .links .icon .icon-box{border-radius:3px;-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7)}
/*#endregion layout.css */


/*#region common.css */
.promotion-wrap .en-tab3 ul li{border-radius:2px}
.promotion-wrap .en-tab3 ul li.on{border-radius:2px}

.tab1{border-radius:2px}
.tab2{border-radius:3px}
.notice-bx{-webkit-box-shadow:0 3px 3px #f8f8f8;box-shadow:0 3px 3px #f8f8f8;border-radius:2px}
.notice-bar{-webkit-box-shadow:0 3px 3px #f8f8f8;box-shadow:0 3px 3px #f8f8f8}

.paginate .direction{-moz-transition:0.1s ease-in-out;-o-transition:0.1s ease-in-out;-webkit-transition:0.1s ease-in-out;transition:0.1s ease-in-out}
.ly-cal .ly-cal-area{border-radius:5px}
.h-graph td .r-bar, .h-graph td .b-bar{-webkit-box-shadow:0 3px 3px #ededed;box-shadow:0 3px 3px #ededed;border-top-right-radius:7px;border-bottom-right-radius:7px}
.round-box{-webkit-box-shadow:0 2px 2px #f5f5f5;box-shadow:0 2px 2px #f5f5f5}

.box-toggle{-webkit-box-shadow:0 2px 2px #f2f2f2;box-shadow:0 2px 2px #f2f2f2}

div.selector span{border-radius:2px}

.ui-datepicker{-webkit-box-shadow:1px 1px 3px -1px #ddd;box-shadow:1px 1px 3px -1px #ddd}
.ui-datepicker .ui-datepicker-header{border-top-left-radius:3px;border-top-right-radius:3px}
.ui-datepicker .ui-datepicker-calendar{border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day *{border-radius:2px }

.certificate-wrap .category li{border-radius:8px;-webkit-box-shadow:0 2px 10px -5px #666;box-shadow:0 2px 10px -5px #666}
.certificate-bx .category li.cat{border-top-left-radius:3px;border-top-right-radius:3px}
.certificate-pop{-webkit-box-shadow:2px 2px 7px -2px rgba(0,0,0,0.7);box-shadow:2px 2px 7px -2px rgba(0,0,0,0.7)}
.certificate-pop .category{border-radius:2px}

.virtual-keyboard{border-radius:2px}
.gallery-list .gallery-bx li{-webkit-transition:0.1s ease-in-out;-moz-transition:0.1s ease-in-out;-o-transition:0.1s ease-in-out;transition:0.1s ease-in-out}
.gallery-list .gallery-bx li:hover{-webkit-transform:scale(1.02);-moz-transform:scale(1.02);-ms-transform:scale(1.02);-o-transform:scale(1.02);transform:scale(1.02)}
.gallery-list2 .sum-list li{-webkit-transition:0.1s ease-in-out;-moz-transition:0.1s ease-in-out;-o-transition:0.1s ease-in-out;transition:0.1s ease-in-out}
.gallery-list2 .sum-list li:hover{-webkit-transform:scale(1.03);-moz-transform:scale(1.03);-ms-transform:scale(1.03);-o-transform:scale(1.03);transform:scale(1.03)}

.cm-search-top .cm-search-box{border-radius:3px}
.cm-search-result .cm-category-menu .site{border-radius:12px}
.section-card-list-box.column2 .grid-col1 .tooltip-cd-inner{-webkit-box-shadow:1px 1px 1px 1px rgba(189,189,198,0.2);box-shadow:1px 1px 1px 1px rgba(189,189,198,0.2)}
.exchange-typec a.btn{border-radius:4px}
.idp-msg{border-radius:7px}
.idp-msg dd.f{border-radius:7px}
.choice-cd-box .round-cd-css3{border-radius:5px}
/*#endregion common.css */


/*#region common_section.css */
.box-area-1, .box-area-2{border-radius:3px}
.fn-search-set{border-radius:3px}
.fn-search-set-top{border-top-left-radius:3px;border-top-right-radius:3px}
.fn-search-set-bottom{border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.fn-product-info-wrap .product-info{border-radius:3px}
.fn-product-info-wrap .product-info .detail-info-area .detail-info,
.fn-product-info-wrap .product-info .detail-info-area .graph-info {border-radius:3px}
.invest-type-area{border-radius:3px}
.invest-type-area .invest-type-list{border-radius:3px}
.product-box{border-radius:5px;-webkit-box-shadow:0 2px #f7f7f7;box-shadow:0 2px #f7f7f7}
.product-list .product .prd-join-tooltip{border-radius:3px;-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.5);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.5)}
.product-functab-cont .itouch-info{border-radius:3px;-webkit-box-shadow:0 3px 5px -3px rgba(0,0,0,0.1);box-shadow:0 3px 5px -3px rgba(0,0,0,0.1)}
.product-functab-cont .itouch-info dl.money{border-radius:3px}
.product-functab-cont .cinema-info{border-radius:3px;-webkit-box-shadow:0 3px 5px -3px rgba(0,0,0,0.1);box-shadow:0 3px 5px -3px rgba(0,0,0,0.1)}
.product-functab-cont .cinema-info dl.money{border-radius:3px}
/*#endregion common_section.css */


/*#region common_popup.css */
.pop-content{-webkit-box-shadow:2px 2px 7px -2px rgba(0,0,0,0.7);box-shadow:2px 2px 7px -2px rgba(0,0,0,0.7)}
.pop-content.loading.loading-type-0{-webkit-box-shadow:none;box-shadow:none}
.pop-inner .notice-bx{-webkit-box-shadow:0 2px 2px #f8f8f8;box-shadow:0 2px 2px #f8f8f8}
.pop-inner .notice-bx:hover{-moz-animation:none;-o-animation:none;-webkit-animation:none;animation:none}
.pop-inner .logout2 .out-msg{border-radius:7px}
.pop-inner .qk-logout .qk-out-msg{border-radius:7px}
.pop-inner.mrsong .branch-search-left{border-radius:3px;-webkit-box-shadow:2px 2px 4px -2px rgba(0,0,0,0.2);box-shadow:2px 2px 4px -2px rgba(0,0,0,0.2)}
.pop-inner.mrsong .branch-search-right{border-radius:3px;-webkit-box-shadow:2px 2px 4px -2px rgba(0,0,0,0.2);box-shadow:2px 2px 4px -2px rgba(0,0,0,0.2)}
.pop-inner.mrsong .ly-lnb{border-radius:2px}
.pop-inner.mrsong .ly-lnb li.first{border-top-left-radius:2px;border-bottom-left-radius:2px}
.pop-inner.mrsong .ly-lnb li.last{border-top-right-radius:2px;border-bottom-right-radius:2px}
.pop-inner.mrsong .ly-body .search-wrap .search-box{border-radius:3px}
.pop-inner.mrsong .calculator-wrap .calculator-input .bubble-box{border-radius:3px}
.pop-inner.mrsong .calculator-wrap .calculator-graph .chart-area .chart .bar{border-top-left-radius:11px;border-top-right-radius:11px;-webkit-box-shadow:2px 2px 3px -1px rgba(0,0,0,0.5);box-shadow:2px 2px 3px -1px rgba(0,0,0,0.5)}
.pop-content.ps-quick .pop-inner{-webkit-box-shadow:2px 2px 7px -2px rgba(0,0,0,0.7);box-shadow:2px 2px 7px -2px rgba(0,0,0,0.7)}
/*#endregion common_section.css */


/*#region bp.css */
.bp_contents.main00.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bp_contents.main01.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bp_contents.main02.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bp_contents.main03.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bp_contents.main04.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bp_contents.main05.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bp_contents.main06.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bp_contents.main07.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bp_contents.main08.js-start-animation .visual{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}

.nivo-area .js-carousel.sample .js-carousel-content-wrapper ul li{border-radius:30px}
.nivo-area .js-carousel.sample .js-carousel-content-wrapper ul li img{border-radius:30px}
.img-slide-common .js-carousel.sample .js-carousel-content-wrapper ul li img{border-radius:30px}
/*#endregion bp.css */


/*#region bz.css */
.product1{border-radius:6px;-webkit-box-shadow:0 3px 3px #f8f8f8;box-shadow:0 3px 3px #f8f8f8}
.notice-bx-bz{border-radius:2px;-webkit-box-shadow:0 3px 3px #f8f8f8;box-shadow:0 3px 3px #f8f8f8}
.cma-list-bz .cma-list-bz1{border-radius:3px;-webkit-box-shadow:0 2px 2px #f8f8f8;box-shadow:0 2px 2px #f8f8f8}
.cma-list-bz .cma-list-bz2{border-radius:3px;-webkit-box-shadow:0 2px 2px #f8f8f8;box-shadow:0 2px 2px #f8f8f8}
.progress-logo, .progress-preview{-webkit-box-shadow:0 3px 3px #f8f8f8;box-shadow:0 3px 3px #f8f8f8;border-radius:4px}
.service-info-1{-webkit-box-shadow:0 3px 3px #f8f8f8;box-shadow:0 3px 3px #f8f8f8;border-radius:4px}
.service-info-2{-webkit-box-shadow:0 3px 3px #f8f8f8;box-shadow:0 3px 3px #f8f8f8;border-radius:4px}
.service-info-2 .info-data-bz{border-radius:4px}
.etax-progress-area .etax-invoice1{border-radius:4px}
.etax-progress-area .etax-txt{-webkit-box-shadow:0 2px 2px #f8f8f8;box-shadow:0 2px 2px #f8f8f8;border-radius:4px}
.etax-progress-area .etax-invoice2{border-radius:4px}
.cma-vs-list .first, .cma-vs-list .second{border-radius:3px}

.bill-main.js-start-animation .visual-area{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.support-service.js-start-animation .supp-top h2{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.support-service.js-start-animation .supp-top p{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.supp-box{border-radius:3px}
.supp-box div.bg-box4{border-top-right-radius:3px}
.supp-box div.bg-box5{border-bottom-left-radius:3px}
.bz-money-bx{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.bz-smart-bx{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.cma-main.js-start-animation .cma-visual-area{-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);-webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);transition:0.5s cubic-bezier(0.5, -0.6, 1, 1)}
.favorites{border-radius:3px}
/*#endregion bz.css */


/*#region cd.css */
.wrap-cd-intro .section-cd-event .event-cd .cont-cd{-moz-transition:0.5s ease-in-out;-o-transition:0.5s ease-in-out;-webkit-transition:0.5s ease-in-out;transition:0.5s ease-in-out}
.section-card-apply #cardApply .card-list-box ul li a.img-cd .screen .default{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.card-benefit-wrap .drop-line .line-box{-moz-transition:0.4s cubic-bezier(0.6, -0.4, 0.85, 0.6);-o-transition:0.4s cubic-bezier(0.6, -0.4, 0.85, 0.6);-webkit-transition:0.4s cubic-bezier(0.6, -0.4, 0.85, 0.6);transition:0.4s cubic-bezier(0.6, -0.4, 0.85, 0.6)}
.card-benefit-wrap .drop-line .balloon p a{-webkit-text-shadow:1px 1px 1px rgba(255,255,255,.7 );text-shadow:1px 1px 1px rgba(255,255,255,.7 )}
.card-benefit-wrap.on .drop-line.pos1 .line-box
, .card-benefit-wrap.on .drop-line.pos2 .line-box
, .card-benefit-wrap.on .drop-line.pos3 .line-box
, .card-benefit-wrap.on .drop-line.pos4 .line-box
, .card-benefit-wrap.on .drop-line.pos5 .line-box
, .card-benefit-wrap.on .drop-line.pos6 .line-box{-moz-transition:0.4s cubic-bezier(0.15, 0.4, 0.4, 1.5);-o-transition:0.4s cubic-bezier(0.15, 0.4, 0.4, 1.5);-webkit-transition:0.4s cubic-bezier(0.15, 0.4, 0.4, 1.5);transition:0.4s cubic-bezier(0.15, 0.4, 0.4, 1.5)}
.card-benefit-wrap .drop-line .card img{-webkit-box-shadow:1px 1px 4px 1px rgba(0,0,0,.3 );box-shadow:1px 1px 4px 1px rgba(0,0,0,.3 );border-radius:5px}
.rolling-cd .screen ul li{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.rolling-cd .screen ul li a{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.skip-navigation li{border-radius:3px;-webkit-box-shadow:1px 1px 1px 0 rgba(0,0,0,.2 );box-shadow:1px 1px 1px 0 rgba(0,0,0,.2 )}
.cardlife .cardlife-benefits .row3 .col2 .inner h3.title-cd{-webkit-text-shadow:1px 1px 3px rgba(0,0,0,.7 );text-shadow:1px 1px 3px rgba(0,0,0,.7 )}
.section-cd-main-row3{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.section-cd-main-row3 .coverflow-cd-guide .screen{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.section-cd-main-row3 .coverflow-cd-guide{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.section-cd-main-row3 .coverflow-cd-guide .screen ul li{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.section-cd-main-row3 .coverflow-cd-guide .screen ul li img{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.section-cd-main-row3 .coverflow-cd-guide .screen ul li a.link{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}
.section-cd-main-row3 .coverflow-cd-guide .screen ul li .p-cd{-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear}

.board-all-list-box{border-radius:2px;-webkit-box-shadow:0 1px 0 1px #e8e8e8;box-shadow:0 1px 0 1px #e8e8e8}
.main .pop-content{border-radius:10px}
.fast-search-cd-box{-webkit-box-shadow:2px 2px 7px -2px rgba(0,0,0,0.7);box-shadow:2px 2px 7px -2px rgba(0,0,0,0.7)}
.fast-search-option-box .col{border-radius:3px;-webkit-box-shadow:0 1px 0px 1px #e8e8e8;box-shadow:0 1px 0px 1px #e8e8e8}
.btn-search-cd1{-webkit-box-shadow:1px 1px 1px 1px #d6d6d6;box-shadow:1px 1px 1px 1px #d6d6d6}
.card-caro-cont-area{-moz-transition:0.5s ease-in-out;-o-transition:0.5s ease-in-out;-webkit-transition:0.5s ease-in-out;transition:0.5s ease-in-out}
.card-caro-cont-img{-moz-transition:0.5s ease-in-out;-o-transition:0.5s ease-in-out;-webkit-transition:0.5s ease-in-out;transition:0.5s ease-in-out}
.box-card-type1{-webkit-box-shadow:0 1px 1px 1px #eaeaea;box-shadow:0 1px 1px 1px #eaeaea}
.moa-point-list .discription-row2{border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.point-card-box{border-radius:4px;-webkit-box-shadow:2px 3px 6px -4px rgba(0,0,0,0.3);box-shadow:2px 3px 6px -4px rgba(0,0,0,0.3)}
.round-box-cd{border-radius:4px;-webkit-box-shadow:2px 3px 6px -4px rgba(0,0,0,0.3);box-shadow:2px 3px 6px -4px rgba(0,0,0,0.3)}
.round-box-cd .radius-b4{border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.moa-point-cd1 dl dd.breakdown-cd{border-radius:5px}
/*#endregion cd.css */


/*#region cq.css */
.visual-area-main .bx-faq-info .list-comfortable-main ul {border-radius:3px;}
.content-main01.js-start-animation .visual-area-main01 p.txt-curious {-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);}
.content-main02.js-start-animation .visual-area-main02 p.txt-main {-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);}
.content-main03.js-start-animation .visual-area-main03 .top-visual {-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);}
.bx-faq-categori {border-radius:5px 5px 5px 5px; }
.list-go-info li {border-radius:2px;-webkit-box-shadow:0 2px 0 0 #f9fafa; box-shadow:0 2px 0 0 #f9fafa;}
.bx-security-in-cq02 {border-radius:5px;}
.bx-install-gray {border-radius:5px;width:948px;-webkit-box-shadow: 0 3px 3px #f8f8f8; box-shadow: 0 3px 3px #f8f8f8;}
.bx-install-gray-2 {border-radius:5px;width:948px;-webkit-box-shadow: 0 3px 3px #f8f8f8; box-shadow: 0 3px 3px #f8f8f8;}
.guide-set {border-radius:3px;-webkit-box-shadow: 0 3px #f7f7f8; box-shadow: 0 3px #f7f7f8;}
.list-coin {border-radius:5px;}
.list-mypc {border-radius:5px;}
/*#endregion cq.css */


/*#region cs.css */
/*#endregion cs.css */


/*#region ct.css */
.mobile-service-02 dl .step-box {border-radius:0 0 4px 4px;-webkit-box-shadow:0 2px #f7f7f8; box-shadow:0 2px #f7f7f8;}
.ct-copy .right .round-box {-webkit-box-shadow:0 2px 2px #f5f5f5; box-shadow:0 2px 2px #f5f5f5;}
/*#endregion ct.css */


/*#region en.css */
/*#endregion en.css */


/*#region es.css */
.es_main_contents.ui-start-animation .visual-area-top h2, .es_main_contents.ui-start-animation .visual-area-top ol {-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);}
/*#endregion es.css */


/*#region ev.css */
.sns-linkage .bx-facebook dl dd {border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.sns-linkage .bx-twitter dl dd {border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.list-thumbnail .list-set {-moz-transition:0.1s ease-in-out; -o-transition:0.1s ease-in-out; -webkit-transition:0.1s ease-in-out; transition:0.1s ease-in-out;border-radius:3px;}
.comment-module .comment-input .comment-btn-area a {border-top-right-radius:3px;border-bottom-right-radius:3px;}
.comment-module .view-more {border-radius: 3px;}
.bx-prize {-webkit-box-shadow: 0 3px #f7f7f8; box-shadow: 0 3px #f7f7f8;}
/*#endregion ev.css */


/*#region fn.css */
.main-month-product {-moz-transition:0.5s linear 0.2s;-o-transition:0.5s linear 0.2s;-webkit-transition:0.5s linear 0.2s;transition:0.5s linear 0.2s}
.main-month-product .product-bg .img-product {-moz-transition:0.5s linear 0.2s;-o-transition:0.5s linear 0.2s;-webkit-transition:0.5s linear 0.2s;transition:0.5s linear 0.2s}
.main-search dl {border-radius:50px;}
.main-month-product .group-info-area {-moz-transition:0.3s linear;-o-transition:0.3s linear;-webkit-transition:0.3s linear;transition:0.3s linear}
.main-month-product.expand .group-info-area {-moz-transition:0.5s linear 0.5s;-o-transition:0.5s linear 0.5s;-webkit-transition:0.5s linear 0.5s;transition:0.5s linear 0.5s}
.box-set {border-radius:3px;}
.box-set-top {border-top-left-radius:3px;border-top-right-radius:3px;}
.box-set-bottom {border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
.fn-product-info-wrap .detail-info {border-radius:3px;}
.fn-product-info-wrap .graph-info {border-radius:3px;}
.fund-black-bx {border-radius:3px;}
.fund-black-bx .fn-info-area {border-radius:3px;}
.my-favorite-fund-list dd .my-chart {border-radius:3px}
.my-favorite-fund-list dd .txt {border-radius:3px;}
.fund-slider-wrap {border-radius:3px}
.help-icon-area .icon-box {border-radius:3px;-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7); box-shadow:2px 2px 6px -3px rgba(0,0,0,0.7);}
.js-carousel.profit-best-fund {border-radius:3px}
.fn-tend-search-wrap {border-radius:3px}
.fn-tend-search-wrap .fund-black-bx {border-bottom-left-radius:0;border-bottom-right-radius:0}
.theme-thum-list li {border-radius:2px;-webkit-box-shadow:0 2px #f9fafa; box-shadow:0 2px #f9fafa;}
.best-5-fund-area .chart-area {border-radius:3px}
.best-5-fund-area .best-fund-list-area dl {border-radius:3px}
.best-10-fund-area .best-1, 
.best-10-fund-area .best-2, 
.best-10-fund-area .best-3,
.best-10-fund-area .best-4,
.best-10-fund-area .best-5,
.best-10-fund-area .best-6,
.best-10-fund-area .best-7,
.best-10-fund-area .best-8,
.best-10-fund-area .best-9,
.best-10-fund-area .best-10 {border-radius:3px;}
.sg-portfolio-cfg {border-radius:3px}
.fund-simulation-result .fund-type-info {border-radius:3px;}
.invest-tend-analysis-wrap .chart-area .chart {border-radius:3px}
.invest-tend-analysis-wrap .chart-area .graph {border-radius:3px}
.global-btn-area {border-bottom-left-radius:3px;border-bottom-right-radius:3px}
/*#endregion fn.css */


/*#region fx.css */
.box-split .b-bar {-webkit-box-shadow:0 3px 3px #EDEDED; box-shadow:0 3px 3px #EDEDED;}
.fx-bx {-webkit-box-shadow:0 3px 3px #f8f8f8; box-shadow:0 3px 3px #f8f8f8;border-radius:2px;}
/*#endregion fx.css */


/*#region hb.css */
.main-area.js-start-animation .hb-visual img {-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);}
/*#endregion hb.css */


/*#region ln.css */
.credit-info-search-wrap .detail-info-area {border-radius:5px;}
/*#endregion ln.css */


/*#region mf.css */
.content-main .main-visual {-moz-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -o-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); -webkit-transition:0.5s cubic-bezier(0.5, -0.6, 1, 1); transition:0.5s cubic-bezier(0.5, -0.6, 1, 1);}
.list-coupon li dl dd.entry a:hover {-moz-animation:jump 0.2s 1; -o-animation:jump 0.2s 1; -webkit-animation:jump 0.2s 1; animation:jump 0.2s 1;}
.list-giveaway li .entry:hover {-moz-animation:list-giveaway-jump 0.2s 1; -o-animation:list-giveaway-jump 0.2s 1; -webkit-animation:list-giveaway-jump 0.2s 1; animation:list-giveaway-jump 0.2s 1;}
.list-giveaway.coupon-list li .entry:hover {-moz-animation:list-giveaway-coupon-jump 0.2s 1; -o-animation:list-giveaway-coupon-jump 0.2s 1; -webkit-animation:list-giveaway-coupon-jump 0.2s 1; animation:list-giveaway-coupon-jump 0.2s 1;}
.bx-bid-input {border-radius:3px;}
/*#endregion mf.css */


/*#region ml.css */
.banking-se .round-box {-webkit-box-shadow: 0 2px 2px #f5f5f5; box-shadow: 0 2px 2px #f5f5f5;}
/*#endregion ml.css */


/*#region pf.css */
.box-type {box-shadow: 0 1px #f7f7f7;}
.box-type-1 {box-shadow: 0 1px #f7f7f7;}
.pf-guide-box-1 {border-radius: 5px;}
input.multi-area-input {border-radius:4px;-webkit-box-shadow:inset 0 3px 5px -4px rgba(0,0,0,0.4);box-shadow:inset 0 3px 5px -4px rgba(0,0,0,0.4);}
.pf-invest-tend-analysis-wrap .chart-area .chart {border-radius:3px}
.pf-invest-tend-analysis-wrap .chart-area .graph {border-radius:3px}
.pf-invest-type-area {border-radius:3px;}
.pf-mdiary-sum {border-radius:5px;-webkit-box-shadow:2px 2px 2px -3px rgba(0,0,0,0.5);box-shadow:2px 2px 2px -3px rgba(0,0,0,0.5)}
.ly-view.pf {border-radius:5px;-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.8);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.8)}
.ly-view.pftype2 {border-radius:5px;-webkit-box-shadow:2px 2px 6px -3px rgba(0,0,0,0.8);box-shadow:2px 2px 6px -3px rgba(0,0,0,0.8)}
/*#endregion pf.css */


/*#region po.css */
/*#endregion po.css */


/*#region ps.css */
/*#endregion ps.css */


/*#region rp.css */
/*#endregion rp.css */


/*#region sf.css */
/*#endregion sf.css */


/*#region tc.css */
/*#endregion tc.css */


/*#region wf.css */
/*#endregion wf.css */


/*#region wl.css */
/*#endregion wl.css */


/*#region zz.css */
/*#endregion zz.css */